
// variables can be declared and later reused
$revature-orange: #f26925;

// mixins are reusable styles that can be included in other places
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

.border{
  margin-top: 20px !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
  margin-bottom: 20px !important;

  padding-top: 20px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  padding-bottom: 20px !important;
}

#inputUsername{
  margin-bottom: 20px !important;
}

#inputPassword{
  margin-bottom: 20px !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: url("./assets/stadium.png");
  
  color: black;
  background-size: cover;
}

/* Home */

#home-container {
  margin-top: 20px !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
  margin-bottom: 20px !important;
  padding-top: 20px !important;
  padding-right: 30px !important;
  padding-left: 30px !important;
  padding-bottom: 20px !important;
  background-color: #ffffff;
  width: 70%;
  opacity: 0.9;

}

#home-title-container {
  margin: 0 120px;
  background-color: #e5f5f391;
  display: flex;
  flex-direction: column;
}

#home-title {
  color: #0a1cc0;
}

#play-by-play-row{
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}
#schedule-row{
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}
#play-by-play-header{
  width: 100%;
  display: inline-table;
  
}
#first-half{
  height: 250px;
}
#gameweek-table-body{
  overflow-y: scroll;
  width: 100%;
  height: 175px;
  position: absolute;
}
#play-by-play{
  height:300px;
}
#play-by-play-table-body{
  overflow-y: scroll;
  width: 100%;
  height: 250px;
  position: absolute;
}
::-webkit-scrollbar {
  width: 10px;
}


#main-content-container {
  @include flex-col;
  width: 100%;
  
  align-items: center
  
}

// .bg-1 {
//   background: url("./assets/football-stadium.jpg");
//   color: #bdbdbd;
//   background-size: auto;
  

  
// }

#week-selector{
  margin-top: 20px !important;
}

#select-division-column{
  margin-top: 20px !important;
}

/* Sign In */


#sign-in-picture{
  margin-left: 25px !important;
}

#please-sign-in{
  margin-left: 15px !important;
}

#sign-in-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.9;
}


button.rev-btn {
  background-color: $revature-orange;
  border-color: $revature-orange;
  color: black;
  &:hover {
    background-color: white;
    border-color: $revature-orange;
    color: $revature-orange;
  }
  &:active {
    background-color: $revature-orange;
    color: black;
    box-shadow: 0 0 0 0.2rem rgba($revature-orange, 0.5);
  }
  &:active, &:focus {
    box-shadow: 0 0 0 0.2rem rgba($revature-orange, 0.5);
  }
}

/*****************************
  NAV
*****************************/
.rev-logo {
  width: auto;
  height: 2em;
  margin-right: 2em;
}

.margin-nav {
  margin-right: 2em
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem !important;
  padding-left: .75rem !important;
}

.bg-light {
  background-color: #ffffff !important;
}

nav {
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 0px;
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
}

#examples-dropdown {
  cursor: pointer;
}

#play-by-play-row{
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}
#schedule-row{
  width: 100%;
  display: inline-table;
  table-layout: fixed;
}
#play-by-play-header{
  width: 100%;
  display: inline-table;
  
}

#gameweek-table-body{
  overflow-y: scroll;
  width: 100%;
  height: 175px;
  position: absolute;
}
#play-by-play{
  height:300px;
}
#play-by-play-table-body{
  overflow-y: scroll;
  width: 100%;
  height: 250px;
  position: absolute;
}

#add-team-dropdown {
  height: 200px; 
  width: 300px; 
  overflow: scroll; 
}

/* width */
#add-team-dropdown::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#add-team-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
#add-team-dropdown::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
#add-team-dropdown::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Team Component */
#team-container {
  margin: 5em;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.9;
}

.form-control {
  max-width: 15em;
}


.page-button {
  padding: 0;
  border: none;
  background: none;
}

.page-button:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.select {
  color: black;
  text-align: center;
}

.team-name {
  color: black;
}

#week-text {
  color: black;
  font-size: medium;
}

.week-container {
  padding: 30px 0;
  text-align: center;
}

/*Schedule*/
#broadcast-text {
  padding-top: 15px;
  padding-right: 10px;
  color: white;
}
.right-text {
  padding-top: 17px;
  padding-right: 10px;
  color: rgb(58, 28, 226);
}

.card {
  max-width: 30em;
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px;
}

.center-text {
  padding-top: 30px;
  padding-left: 200px;
  font-size: smaller;
}

.card-body {
  background-color: lightcyan;
  color: black;
}

#game-statistics {
  text-align: center;
  padding-left: 250px;
}

.game-table {
  color: black;
  text-align: center;
}



// .App {
//   text-align: center;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 80px;
// }

// .App-header {
//   background-color: #222;
//   height: 150px;
//   padding: 20px;
//   color: white;
// }

// .App-title {
//   font-size: 1.5em;
// }

// .App-intro {
//   font-size: large;
// }

// @keyframes App-logo-spin {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }